.header {
    background-color: whitesmoke;
}

.search_form_container {
    display: flex;
}

.search_window {
    flex: 1;
}

.friend_wrapper {
    overflow: scroll;
}

.friend_item_container {
    display: flex;
    overflow: hidden;

    border: 1px solid silver;
    height: 4rem;
}

.friend_image_wrapper {
    width: 3rem;
    height: 3rem;
    border: 2px solid gray;
    border-radius: 50%;

    background-size: cover;
    background-position: center;
}

.friend_text_wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.friend_name {
    font-weight: bold;
}

.talk_container {
    display: flex;
    justify-content: space-between;
}

.footer-container {
    background-color: whitesmoke;
}

.pagination {
    margin-top: 0.5rem;
    text-align: center;
}