{% extends "./base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/friends.css' %}" />
{% endblock %}


{% block header-title %}
    友達
{% endblock header-title %}



{% block content %}
<div class="search">
    <form action="#" method="get">
        {% csrf_token %}
        <input type="search" name="search" placeholder="ユーザー名で検索" value="{{ searched_name|default:"" }}">
        <input type="submit" value="検索">

    </form>
</div>
<div class="friend_wrapper">
    {% for friend_talk_list in  friends_havetalked %}
        <a href="{% url "myapp:talk_room" friend_talk_list.0.id %}" class="link">
            <div class="friend_item_container">
                {% if  friend_talk_list.0.user_icon_image %}
                <div class="friend_image_wrapper" style="background-image: url({{ friend_talk_list.0.user_icon_image.url }})">
                </div>
                {% endif %}
    
                <div class="friend_text_wrapper">
                    <div class="friend_name">
                       {{ friend_talk_list.0.username }}
                    </div>
                    <div class="talk_container">
                        <div class="talk_content">
                            {{ friend_talk_list.1.content}}
                        </div>
                        <div class="datetime">
                            {{ friend_talk_list.1.send_datetime | date:"m/d H:i" }}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    
    {% for friend in friends_nothavetalked %}
        <a href="{% url "myapp:talk_room" friend.id %}" class="link">
            <div class="friend_item_container">
                {% if  friend.user_icon_image %}
                <div class="friend_image_wrapper" style="background-image:url({{ friend.user_icon_image.url }})">
                </div>
                {% endif %}
    
    
                <div class="friend_name">
                    {{ friend.username }}
                </div>
    
    
            </div>
        </a>
    {% endfor %}
    {% if nobody_found  %}
    <p>検索条件に当てはまるユーザーは見つかりませんでした。</p>
    {% endif %}
</div>

{% endblock content %}