{% extends "./base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/friends.css' %}" />
{% endblock %}


{% block header-title %}
    友達
{% endblock header-title %}



{% block content %}
<div class="search">
    <form action="#" method="get">
        {% csrf_token %}
        <div class="search_form_container">
            <input type="search" name="search" placeholder="ユーザー名またはメールアドレスで検索" value="{{ searched_text|default:"" }}" class="search_window">
            <input type="submit" value="検索">
        </div>

    </form>
</div>
<div class="friend_wrapper">
    {% for friend in object_list  %}
        <a href="{% url "myapp:talk_room" friend.id %}" class="link">
            <div class="friend_item_container">
                {% if  friend.usere_icon_image %}
                <div class="friend_image_wrapper" style="background-image: url({{ friend.user_icon_image.url }})">
                </div>
                {% endif %}
    
                <div class="friend_text_wrapper">
                    <div class="friend_name">
                       {{ friend.username }}
                    </div>
                    <div class="talk_container">
                        {% if friend.latest_msg_content %}
                        <div class="talk_content">
                            {{ friend.latest_msg_content}}
                        </div>
                        <div class="datetime">
                            {{ friend.latest_msg_datetime | date:"m/d H:i" }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    
    {% if nobody_found  %}
    <p>検索条件に当てはまるユーザーは見つかりませんでした。</p>
    {% endif %}

  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    <span>{{ page_obj.number }} / {{ paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}
  </div>
</div>

{% endblock content %}