{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "myapp/css/index.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="links_container">
        <a href="{% url 'myapp:login' %}" class="link">
            <div class="btn">ログイン</div>
        </a>

        <a href="{% url 'myapp:signup' %}" class="link">
            <div class="btn">会員登録</div>
        </a>
    </div>
</body>
</html>