{% extends "./base.html" %}

{% block header-title %}
ログイン
{% endblock header-title %}

{% block content %}

<div class="form_wrapper">
    <form  action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form_item_container">
                {{ field.label_tag}} {{field}}
            </div>
        {% endfor %}
        {% if form.errors %}
            {% for errors in form.errors.values %}
            {{ errors }}
            {% endfor %}
        {% endif %}
        <div class="submit_btn_wrapper">
            <input type="submit" value='ログイン' class="btn">
        </div>
    </form>
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}